# Sensitive data & local databases
00_input/
00_DB/
*.db
*.sqlite
*.sqlite3

# Local export/raw data files
*.xlsx
*.csv

# Caches & Virtual Environments
__pycache__/
*.pyc
*.pyo
.venv/
venv/
.env
*.pem

# IDE & OS metadata
.vscode/
.idea/
.DS_Store

.streamlit/secrets.toml